.App {
  text-align: center;
  padding: 0px;
  margin: 0px;
  /* background-color: #fdf7f4; */
  background-color: var(--secondary-color);
}

#container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
