.forcast {
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: var(--tertiary-color);
  /* border-radius: 30px; */
  padding: 8px;
}
.location-name {
  margin-top: 0px;
  margin-bottom: 0px;
}

.location-style {
  display: flex;
  background-color: var(--tertiary-color);
  padding-top: 0px;
}

.location-style h3,
h4 {
  color: var(--dominant-color);
}

.location-style h4 {
  margin-left: 5px;
  margin-right: 5px;
}

.location-style ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 5px;
  justify-content: center;
}

.location-style ul li {
  border: 1px solid var(--dominant-color);
  padding: 8px;
  margin: 5px;
  border-radius: 15px;
}
