.container_box {
  height: 100%;
}

.all-forcasts {
  display: flex;
  min-height: 62vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 30px;
  background-color: var(--tertiary-color);
}

.error {
  color: red;
  font-weight: 100;
  margin-top: -9px;
  margin-bottom: -12px;
}

.button {
  /* background-color: rgb(0, 87, 158); */
  background-color: var(--dominant-color);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  border-radius: 30px;
}

.button:hover {
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
  background-color: #396b91;
  /* color: var(--dominant-color); */
}

.no_display {
  font-size: 5vh;
  color: rgb(194, 207, 207);
}

.text_input {
  font-size: 16px;
  margin: 4px 2px;
  padding: 8px 32px;
  border-radius: 30px;
  border-style: solid;
  border-color: var(--dominant-color);
  background-color: var(--secondary-color);
}
